* {
  margin: 0%;
  padding: 0%;
  list-style: none;
}
/*  *::-webkit-scrollbar{
    display:none;
}*/
nav {
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  width: 100vw;
  position: sticky;
  top: 0px;
  background: white;
}
#select {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}
#logo {
  height: 100%;
}
#logo > img {
  height: 90%;
}
#small-left {
  display: none;
}
#icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
  height: 100%;
}

select {
  border: none;

  font-size: medium;
}
i {
  font-size: x-large;
}

hero > img {
  margin-top: 15px;
  width: 100vw;
  height: auto;
}
hero > img:nth-child(2) {
  display: none;
}
hero > img:nth-child(3) {
  height: auto;
  width: 100%;
}

#main-1 > div > img {
  border-radius: 10px;
  margin: 10px;
  width: 24%;
}
#main-1 {
  text-align: center;
  width: 100vw;
}
#main-1 > div {
  overflow: scroll;
  display: flex;
  width: 100vw;
}
#main-1 > div::-webkit-scrollbar {
  display: none;
}
#main-2 {
  width: 100vw;
  margin-top: 15px;
}
#main-2 > div {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}
#main-2 > div > img {
  border-radius: 10px;

  width: 23%;
  margin: auto;
  margin-top: 20px;
}
#big-img {
  flex-basis: 30%;
}
#main-3 {
  margin-top: 15px;
}
#main-3 > div {
  display: flex;
}
#main-3 > div > img {
  width: 23%;
  margin: auto;
  border-radius: 10px;
}
#main-4 > div {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
#main-4 {
  margin-top: 15px;
}
#main-4 > div > img {
  border-radius: 10px;
}
#main-5 {
  margin-top: 15px;
  width: 100vw;
}
#main-5 > div {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}
#main-5 > div > img {
  width: 20%;
}
#main-6 {
  text-align: center;
  margin-top: 15px;
  width: 100vw;
}
#main-6 > p {
  background: red;
  color: white;

  font-size: xx-large;
}
#main-6 > h1 {
  font-size: 3em;
}
#address {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-top: 20px;
}
ul > h1 {
  color: brown;
}
footer {
  margin-top: 20px;
  text-align: center;
}
#payments-icon {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}
#payments-icon > img {
  width: 25%;
}
#fixed-b {
  display: none;
}
#menu {
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 65vw;
  background: rgb(230, 182, 182);
  height: 100vh;
  display: none;
  animation: fun 1s;
}

#cen {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  animation: fun1 1s;
}
#cen > div {
  margin-left: 5px;
  height: 20px;
  animation: fun1 1s;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: xxx-large;
}
#logo-ham > img {
  height: 53px;
  animation: fun1 1s;
}
@keyframes fun {
  from{width: 0vw;}
  to{width: 65vw;}
}
@keyframes fun1 {
  from{opacity: 0;}
  to{opacity: 1;}
  
}
@keyframes clo {
  from{width: 65vw;}
  to{width: 0vw;}
}